<div class="navbar">
    <div class="logo">
        <img src="/img/logo-test.svg" alt="Logo">
    </div>
    <div class="nav-tab">
        <div class="user">
            <div class="user-info">
                <div class="name"><%=pd.first_name%> <%=pd.last_name%> (<%=user.role %>)</div>
                <div class="id"><%= reg.admin_code %></div>
            </div>
            <div class="profile-pic"></div>
        </div>
        <div class="menu">
            <form action="/logout" method="POST">
                <button type="submit" class="logout">ออกจากระบบ</button>
            </form>
            <button class="normal"><a href="/add-student">เพิ่มนักเรียน</a></button>
            <button class="normal"><a href="/add-teacher">เพิ่มคุณครู</a></button>
            <button class="normal"><a href="/add-subject">เพิ่มวิชาเรียน</a></button>
            <button class="normal"><a href="/add-studentsec">เพิ่มนักเรียนเข้ากลุ่มเรียน</a></button>
            <button onclick="location.href='/'" class="normal">◄ กลับหน้าหลัก</button>
        </div>
    </div>
</div>