<div class="navbar">
    <div class="logo">
        <img src="/img/logo-test.svg" alt="Logo">
    </div>
    <div class="nav-tab">
        <div class="menu">
            <form action="/reto-login" method="POST">
                <button type="submit" class="logout">Login</button>
            </form>
            <form action="/reto-login" method="POST">
                <button class="normal">Registrar</button>
            </form>
        </div>
    </div>
</div>
